
router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4']}}


   neighbor DCI peer group  
   neighbor DCI remote-as {{ underlay[inventory_hostname]['BGP']['DCI-ASN'] }}
   neighbor DCI send-community
   neighbor DCI maximum-routes 12000

{% for peer in underlay[inventory_hostname]['BGP']['DCI-peers'] %}
   neighbor {{ peer }} peer group DCI
{% endfor %} 
 
   
   address-family ipv4
     neighbor DCI activate
